$color_light: #bdc3c7;
$color_dark:  #7f8c8d;

body {
  font-family: 'Alice', Georgia, serif;
  font-size: 18px;
  line-height: 1.9;
}

.site-container {
  margin: 0 auto;
  width: 720px;
}

.header {
  margin: 3em 0;
  text-align: center;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h2 { color: #7f8c8d; }

a {
  color: inherit;
  text-decoration: none;
}

.button {
  border: 1px solid $color_light;
  border-radius: 5px;
  color: $color_light;
  display: inline-block;
  margin-top: 1em;
  padding: 7px 20px;

  -webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
     -moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
          transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;

  &:hover {
    border-color: $color_dark;
    color: $color_dark;
  }
}

.footer {
  margin: 3em 0;

  p {
    color: $color_light;
    text-align: center;
  }

  a {
    -webkit-transition: color 0.2s ease-in-out;
       -moz-transition: color 0.2s ease-in-out;
        -ms-transition: color 0.2s ease-in-out;
            transition: color 0.2s ease-in-out;

    &:hover { color: $color_dark; }
  }
}

